@import url('https://fonts.googleapis.com/css?family=CorsicaLX&display=swap');

body {
    font-family: CorsicaLX, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: rgb(167, 170, 169);
}

.nav-link {
    color: rgb(145, 153, 150);
}

.navbar-nav .nav-link.active {
    color: rgb(179, 171, 171);
}

.carzina {
    margin-top: -2px;
    margin-left: -55px;
}

.navbar-brand img {
    width: 150px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px;

    position: absolute; 
    right: 10px; 
    top: 15px;


}

.container,
.container-fluid {
    padding: 0 15px;
    width: 100%;
}

.row {
    margin: 0;
}

.search {
    display: flex;
    align-items: center;
    background-color: #f6f7f8;
    border-radius: 20px;
    padding: 5px 10px;
    width: 200px;
    cursor: pointer;
}

.search-icon {
    margin-right: 3px;
}

.search-field {
    border: none;
    background: none;
    width: calc(100% - 25px);
    padding: 5px;
    color: rgb(37, 37, 37);
}

.search-field:focus {
    outline: none;
}

.carzini {
    margin-left: 1px;
    color: #999191;
}

.carzi {
    margin-left: -10px;
}

.custom-header__map-text-choose {
    color: #7e2832;
}

hr {
    border: 1px solid #d4cece;
    width: 100%;
    margin-top: -25px;
}

.navbar-nav {
    text-align: center;
}

.gradient-container {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.solid-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(238, 232, 232);
}

.gradient-line {
    width: 100%;
    height: 15%;
    background: linear-gradient(180deg, rgb(223, 220, 220) 0%, rgb(240, 237, 237) 40%, rgba(244, 245, 239, 1) 100%);
    filter: blur(8px);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    margin: 7px;

    border-radius: 50%;

    background-color: #fffffff6;
}

.carousel-indicators .active {
    background-color: #812c2c;
}

.rounded-img {
    border-radius: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 31px;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #ffffffe8;
}

.nav-item {
    display: flex;
    align-items: center;
}

.chevron-icon {
    margin-left: 1px;
    cursor: pointer;
    color: #757575;
}

.menu-title {
    text-align: left;
    margin-top: 70px;
}

.menu-title h2 {
    font-weight: bold;
    color: #470c13;
    margin-bottom: 30px;
    font-size: 30px;
}

.card {
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    overflow: hidden;
    text-align: left;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
    margin-bottom: 4px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card-title {
    height: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.card-text {
    height: 60px;
    color: #8f8a8a;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-box-orient: vertical;
    white-space: normal;
    margin-bottom: 10px;
    font-size: 14px;
}

.card-footer {
    margin-top: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    text-align: left;
}

.card-price {
    text-align: left;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #331818;
    margin: 0;
    margin-top: 10px;
}

.card-weight {
    
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    color: #8f8a8a;
 margin-left: 15px;
margin-top: -23px;  
}

.btn {
    align-self: flex-end;
}

.btn-custom {
    margin-top: 25px;
    background-color: rgb(126, 40, 50);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: rgb(126, 40, 50);
    color: white;
    transform: scale(1.05);
    outline: none;
    box-shadow: none;
}

.footer-text {
    color: #6d6b6b;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
    margin: 5px 0;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(100, 30, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-style: none;
}

.container-fluid {
    padding: 0 25px;
}


.logo {
    max-width: 180px;
    margin-bottom: 20px;
    margin-right: 190px;
}
 /* ИЗМЕНИТЬ БРЕНД С ВЫПАДАЮЩИМ СПИСКОМ */

 .dropdown-menu{
    width: 200px;
 }
         .navbar .dropdown-toggle::after {
             display: none;
             /* Убирает треугольник */
         }

.choose__item-description{
    font-size: 10px;
    color: #6d6b6b;
    margin-top: -5px;
 


}

.dropdown-item{
float: left;
    width: 60px;
  
 
 

}
.choose__item-name {
    text-decoration: none;
    white-space: nowrap;
    margin-top: -35px;
text-align: center;
    color: #331818;
    font-size: 12px;
    
} /* КОНЕЦ */
.foto,
.goo,
.app,
.rustore {
    margin-left: -10px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 5px;
}

.pres {
    max-width: 100%;
    height: auto;
    width: 25px;
    margin-top: -27px;
    margin-left: 90px;
}

.fot {
    white-space: nowrap;
    color: #a8a4a4;
    text-align: left;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.fotor {
    color: #a8a4a4;
    margin-top: 40px;
}

.zu {
    display: flex;
    justify-content: start;
    width: 44px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.mas {
    display: flex;
    justify-content: center;
    margin: -25px 0 -45px;
    width: 150px;
}

.hrr {
    width: 100%;
    margin: 25px auto;
    box-sizing: border-box;
}

.hrr hr {
    width: 100%;
    max-width: 1250px;
    border-top: 1px solid #d4cece;
    margin: 0 auto;
}



.footer-content {
    display: flex;
    justify-content: space-between;
    /* Размещаем элементы по краям */
    width: 100%;
    /* Задаем полную ширину */
    max-width: 1200px;
    /* Максимальная ширина для центрирования */
    padding: 0 15px;
    /* Отступы по бокам */
}

.se,
.we {
    color: #6d6b6b;
    /* Цвет текста */
    margin-top: -15px;
    font-size: 14px;
    
}

.uo {
    cursor: pointer;
    color: #6d6b6b;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.lud {
    margin-left: -50px;
    cursor: pointer;
}

.shoko {
    width: 161px;
    height: 35px;
    margin-right: 130px;
}

/* ПРАЙСИНГ */
.resto {
    font-weight: bold;
    font-size: 40px;
    color: #470c13;
}

.search-container {
    display: flex;

    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 10px;
    width: 352px;
    height: 44px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #c9c5c5;
    font-size: 16px;
   
}

.search-icon {
    margin-right: 3px;
}

.search-input {
    border: none;
    background: none;
    width: calc(100% - 25px);
    padding: 5px;
    color: rgb(37, 37, 37);
}

.search-input:focus {
    outline: none;
}

.dropdown {
    margin: 20px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle svg {
    margin-right: 5px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px

}


/* Адаптивные стили */
@media (max-width: 1200px) {

    .carousel-indicators [data-bs-target]{
        display: none;
    }
    .card-price{
        white-space: nowrap;
       
    }
   .btn-custom{
    width: 100%;
   }
   .card-weight{
    white-space: nowrap;
   }

.custom-header__map-text-choose{
    white-space: nowrap;
}


    .card {
        width: 90%;
        /* Уменьшаем ширину карточки */
    }

    .menu-title h2 {
        font-size: 24px;
        /* Уменьшаем размер заголовка */
    }

    .navbar-brand img {
        width: 120px;
        /* Уменьшаем логотип */
    }
}

@media (max-width: 992px) {
    .carousel-indicators [data-bs-target]{
        display: none;
    }
    .navbar-nav {
        flex-direction: column;
        /* Вертикальная ориентация для навигации */
    }

    .search {
        width: 100%;
        /* Полная ширина для поискового поля */
    }

    .card {
        width: 100%;
        /* Полная ширина для карточки */
    }

    .footer-logo {
        width: 80%;
        /* Меньший логотип в подвале */
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }
  

@media (max-width: 768px) {
    .carousel-indicators [data-bs-target]{
        display: none;
    }
    .card {
        width: 100%;
        /* Полная ширина для карточки */
    }
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        width: 80%;
        margin-bottom: 20px;
    }
    footer .container .row {
        flex-direction: column;
        align-items: center;
    }

    footer .container .col-lg-3,
    footer .container .col-md-3 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .navbar-nav .nav-link,
    .footer-text {
        text-align: center;
        align-items: center;
    }

    footer img {
        max-width: 80px;
    }

    .hrr hr {
        max-width: 90%;
    }

    .se {
        flex-direction: column;
    }

    .navbar-brand img {
        width: 100px;
         font-size: 18px;
    }
    .search-container {
        width: 100%;
        padding: 5px;
    }

    .card {
        width: 90%;
        margin: 0 auto;
    }

    .btn-custom {
        width: 100%;
        font-size: 14px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 576px) {

    .carousel-indicators [data-bs-target]{
        display: none;
    }
    .btn-custom {
        width: 100%;
        /* Полная ширина для кнопок */
    }

    .menu-title h2 {
        font-size: 20px;
        /* Ещё меньше размер заголовка */
    }

    .fot {
        font-size: 14px;
        /* Уменьшаем шрифт */
    }

    .search-container {
        width: 100%;
        /* Полная ширина для поискового контейнера */
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav .nav-link {
        width: 100%;
        padding: 10px;
        text-align: left;
        width: 100%;
        display: block;
    }
    .navbar-brand img {
        width: 80px;
    }

    .card {
        width: 100%;
    }

    .card-body {
        flex-direction: column;
    }

    .card-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content {
        text-align: center;
    }

    footer img {
        max-width: 60px; /* Уменьшите размер на мобильных устройствах */
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}